/* Galvenais dizains */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
}

/* Detaļu dizaini (pogas n-stuff) */
.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary {
    color: #b120a9;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #ffffff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #b120a9;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar h2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#navbar li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar li a:hover {
    background-color:#b120a9;
}

/* Titullapa */
#sākums {
    background: url(../img/Untitled-design-27.png) no-repeat center center/cover;
    height: 91.7vh;
}

.sākums-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 81px;
    left: 0;
    bottom: -30px;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: rgb(247, 68, 238);
}

.sākums-content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

/* Par mani */
#about {
    padding: 5rem 0;
}

#about h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p.lead {
    margin-bottom: 1rem;
}

#about .about-content {
    display: flex;
}

#about .about-text,
#about .about-image {
    flex: 1;
}

#about .about-text {
    text-align: justify;
}

#about .about-image img {
    display: block;
    margin-left: auto;
    width: 60%;
    border-radius: 40%;
    margin-top: 60px;
}

/* Mani darbi */

#manidarbi {
    background: url(../img/kan.jpg) no-repeat center center/cover;
    height: 125vh;
}

 .kan.jpg {
     position: absolute;
     height: 100%;
     width: 100%;
     background: rgba(0, 0, 0, o.6);
     padding: 5rem 0;
 }

 #manidarbi h2 {
     text-align: center;
     font-size: 3rem;
     margin-bottom: 3rem;
 }

 #manidarbi .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#manidarbi .box {
    background-color: #333;
    display: flex;
    padding: 2rem;
    align-items: center;
    border-radius: 15px;  
}

#manidarbi .box:first-child, #manidarbi .box:nth-child(2), #manidarbi .box:nth-child(3) {
margin-bottom: 2rem;
width: 50%;
}

#manidarbi .box img {
    border-radius: 10%;
    margin-right: 2rem;
}

#manidarbi p {
    color: #ffffff;
}


/* Kontaktinformācija*/
#kontaktinformācija {
    background: url(../img/portfolio-background.webp) no-repeat center center/cover;
    height: 125vh;
}

.portfolio-background.webp {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 5rem 0;
}

#kontaktinformācija h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 3rem;
        color: #b120a9;
}

#kontaktinformācija .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kontaktinformācija .box {
    background-color: #b120a9;
    display: flex;
    padding: 2rem;
    align-items: center;
    border-radius: 15px;  
}

#kontaktinformācija .box:first-child, #kontaktinformācija .box:nth-child(2), #kontaktinformācija .box:nth-child(3), #kontaktinformācija .box:nth-child(4), #kontaktinformācija .box:nth-child(5) {
    margin-bottom: 2rem;
    width: 35%;
    
}

#kontaktinformācija .box img {
    border-radius: 50%;
    margin-right: 2rem;
}

#kontaktinformācija p {
    color: #ffffff;
}

/* Jautājumi */
#jautājumi {
    padding: 5rem 0;
}

#jautājumi h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 8rem;
}

#jautājumi h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
    margin-top: 5rem;
}

#jautājumi .form-box {
    background: #fff;
    padding: 3rem;
    box-shadow: 2px 2px 5px #d1d1d1;
    border-radius: 10px;
}

#jautājumi .form-group {
    margin-bottom: 2rem;
}
#jautājumi .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    width: 80%;
    margin-left: 10%;
    font-size: 1.1rem;
}

#jautājumi .form-group input,
#jautājumi .form-group textarea {
    width: 80%;
    margin-left: 10%;
    font-size: 1.3rem;
    padding: 1rem;
    border: 0.5px solid #333;
    border-radius: 5px;
}

#jautājumi .form-group textarea {
    font-family: Arial, sans-serif;
}

#jautājumi .contact-btn {
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    background: #b120a9;
    color: #fff;
    margin-bottom: 2rem;
    cursor: pointer;
}

/* kājene */
footer {
    padding: 2.5rem;
}

footer p {
    text-align: center;
}















